<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="referrer" content="same-origin">
    <title>Paul Obunga</title>
    <meta name="description" content="Quality software developer, digital normad and blockchain enthusiast from Kampala Uganda">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/site.css">
</head>

<body>
    <div class="container">
        <div class="col text-container">
            <h2>Paul Obunga</h2>
            <h1>Quality software developer.</h1>
            <p>I offer expertise in software development and digital experience design with a passion for delivering
                high quality work. <a href="/projects">See Projects</a></p>
            <a href="mailto:paulobunga.one@gmail.com?subject=Service Enquiry">Get in touch</a>
            
        </div>
        <div class="col image-container">
            <div class="logo"></div>
        </div>
    </div>
</body>

</html>